.container {

    border: solid black 1px;
    /*background-color: blueviolet;*/
    display: inline-block;
    /*width: auto;  */

}

.toolBox {
    height: 950px;
    width: 150px;
    margin-left: 15px;
    background: black;
    display: inline-block;
}

.row {
    display: block;
    /*position: relative;*/
    margin-bottom: -4px;
}

.box {
    height: 45px;
    width: 45px;
    border: 1px solid red;
    display: inline-block;
    margin: 0px;
    background-size: cover;
}

/* background images classes start here*/

.grass {
    background-image: url("./images/grass.png");
}

.leaf {
    background-image: url("./images/leaf.gif");
}

.tree {
    background-image: url("./images/tree.png");
}

.rock {
    background-image: url("./images/rock.png");
}

.dirt {
    background-image: url("./images/dirt.png");
}

/* tool box classes*/

.tool {
    height: 100px;
    width: 100px;
    margin: 20px;
    vertical-align: middle;
}

#axe {
    background-image: url("./images/axe.png");
    background-size: cover;
}

#axe:hover,#shovel:hover,#pickaxe:hover{
    background-color: deepskyblue;
}

#shovel {
    background-image: url("./images/shovel.png");
    background-size: cover;
}

#pickaxe {
    background-image: url("./images/pickaxe.png");
    background-size: cover;
}

#selectedBrick {
    border: solid 1px cornsilk;
    height: 80px;
    width: 80px;
    margin: 30px;
}